<nav id="navbar">
    <img src="./images/cluckr_logo.jpg">

    <a href="http://localhost:4572/new" class="btn btn-primary" role="button">Cluck!</a>

    <% if (username) { %>
    <a href="/new">New Cluckr</a>
    <%= username %>
    <form action="/sign_out" method="POST">
        <input type="submit" value="Sign Out" class="btn btn-danger">
    </form>
    <% } else { %>
    <form action="/sign_in" method="POST">
        <label for="username">Sign in!</label>
        <input type="text" name="username"></input>
        <input type="submit" value="Log In" class="btn btn-primary">
    </form>
    <% } %>
</nav>