<%- include("partials/header") %>

<h2>List Cluckrs</h2>


<ul>

    <% cluckr.forEach(function (item) { %>
    <img src="images/cluck_master.jpg" width="42" height="42">
    <div>cluck_master</div>
    <li><%= item.content%> </li>
    <li><img src=" <%= item.image_url %>" width="300" height="auto"></li>
    <% })%>

</ul>

<%- include("partials/footer") %>