<%- include("partials/header") %>

<h2>list cluckrs</h2>

<ul>
    <% cluckr.forEach(function (item) { %>
    <%= item.content%>
    <%= item.image_url %>

    <% })%>

</ul>





<%- include("partials/footer") %>