<%- include("partials/header") %>
<hr class="navborder">

<form action="/sign_in" method="POST">
    <label for="username">Username</label>
    <br>
    <input type="text" name="username"></input>
    <input type="submit" value="Log In" class="btn btn-primary">
</form>










<%- include("partials/footer") %>