<%- include("partials/header") %>
<hr class="navborder">
<div class="form-group mb-3"></div>

<% if(username) { %>


<form action="/new" method="POST">
    <label for="content">Content</label>
    <br>
    <textarea class="form-control" type="text" name="content">
    </textarea>
    </div>

    <div class="form-group mb-3">
        <label for="image_url">Image URL</label>
        <input class="form-control" type="text" name="image_url">
    </div>

    <input type="submit" value="Cluck" class="btn btn-primary">

</form>

<% } %>

<%- include("partials/footer") %>